{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/style_account.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="{% static 'onlineStore/scripts.js' %}"></script>
    <title>GoldenStore.</title>
    <meta name="description" content="Decouvrez une selection exceptionnelle de produits sur GoldenStore. Livraison disponible a Bamako">
    <meta name="keywords" content="Boutique en ligne, Bamako">
</head>
 <body>
