{% load static %}
{% include './include/header.html' %}

<section class="global">

<!--  A propos de nous -->
    <p class="infos_title">À Propos de nous</p>
        <div class="golden_info">
            <p> <span>GoldenStore</span> est votre tout nouvelle boutique d'achat en ligne. Plus besion de vous deplacez, effectuez vos achats depuis notre plateforme et faites vous livrez à domicile.</p>
        </div>

<!-- Nous contactez -->
        <div class="msg_form">
            <form method="post" >
                {% csrf_token %}
                {{ form }}    
                <button type="submit">Envoyer</button>
            </form>
        </div>

    <a href="{% url 'store:index' %}" style="text-decoration: none;color: red;font-weight: bold;"> Retour</a>
    <h3 style="text-align:left;width: 100%;margin-top: 10px;">Avis des utilisateurs</h3>
    <div class="avis">
        {% if avis %}
        {% for avi in avis %}
            <div>
                <p>{{ avi.nom }} :</p>
                <p>{{ avi.message }}</p><br>
            </div>
        {% endfor %}
        {% else %}
            <p>Aucune avis</p>
        {%endif%}
    </div>
</section>
<footer>Tout droits réservée</footer>

{% include './include/end.html' %}