{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'onlineStore/style.css' %}">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="logo">GoldenStore.</div>
        <div class="menu-bar"></div>
            <div class="search-bar">
                <form method="get" action="{% url 'store:index' %}" class="index-form"> <!-- formulaire necessaire pour recuprerez le valeur notez qu'ici nous avons le method get -->
                    <input type="search" name="contain" placeholder="Recherche......">
                    <button type="submit"><img src="{% static 'onlineStore/icone/search.png' %}"></button>
                </form>
            </div>
        <nav>
            <a href="">Acceuil</a>
            <a href="{% url 'store:panier' %}">Panier</a>
            {% if user.is_authenticated  %}
                <a href="{% url 'account:logout' %}">Connecté</a>
            {% else %}
                <a href="{% url 'account:login' %}">Connexion</a>
            {% endif %}                
            <a href="{% url 'store:prods' %}">Articles</a>
        </nav>
    </header>

    <main>

        <section class="category-box">
            <p>Catégorie</p>
            <div class="category-bar">
                <p class="scroll"></p>
                {% for categorie in category %}                    
                <div style="background-image:url('{{ categorie.image.url }}')"><a href="{% url 'store:trend' categorie.name %}">{{categorie.name}}</a></div>
                {% endfor %}                     
                <p class="scroll_next"></p>
            </div>
        </section>

        {% if produit_list %}
        {% for categorie in category_list %}
            <section class="trend-box">
                <p>Tendances: {{categorie.name}}</p>
                <div class="trend-bar">
                    {% for produit in produit_list %}
                    {% if categorie.name == produit.category.name %}
                    {% if produit.top_category == 1 %}
                        <div>
                            <img src="{{ produit.image.url }}" alt="">
                            <section class="trend-info">
                                <a href="{% url 'store:article' produit.slug %}">{{ produit.name }}</a>
                                <span>{{ produit.price }} FCFA</span>
                            </section>
                        </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>  
            </section>
        {% endfor %}
        {% else %}
            <p>Articles non disponibles</p>
        {% endif %}

    </main>
    <footer>
        Retrouvez-nous sur:
        <div class="external-link">
            <p>Instagram : </p>
            <p>whatsapp : </p>
            <p>facebook : </p>
        </div>
        <a href="{% url 'account:cont' %}" style="text-align: center; color: #999;width: 100%;display: block;margin-top: 5px;">À propos de nous</a>
    </footer>
<script src="{% static 'onlineStore/scripts.js' %}"></script>
</body>
</html>
